@model application.Models.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <table class="hover">
        <tr>
            <td>@Html.LabelFor(m => m.UserName)</td>
            <td>@Html.EditorFor(m => m.UserName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Password)</td>
            <td>@Html.EditorFor(m => m.Password)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.ConfirmPassword)</td>
            <td>@Html.EditorFor(m => m.ConfirmPassword)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Name)</td>
            <td>@Html.EditorFor(m => m.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Phone)</td>
            <td>@Html.EditorFor(m => m.Phone)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.Address)</td>
            <td>@Html.EditorFor(m => m.Address)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(m => m.group_id)</td>
            <td>@Html.DropDownListFor(m => m.group_id, Model.Groups, "Выберите группу пользователя")</td>
        </tr>
    </table>
    <button class="success button">Регистрация</button>
}
