@using Microsoft.AspNet.Identity;
@using application.Models;
@using application.Models.NHibernate;
@using NHibernate;
@{int id = 1;}
@using (ISession session = new NHibernateHelper().OpenSession())
{
    id = User.Identity.IsAuthenticated ? session.QueryOver<Users>().List().Where(u => u.Id.ToString() == User.Identity.GetUserId()).SingleOrDefault().Group.Id : 1;
}
@model IEnumerable<application.Models.Books>

@{
    ViewBag.Title = "Список книг";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    @if (id == 2)
    {@Html.ActionLink("Зарегистрировать новую книгу", "Create");
    }
</p>
<table class="hover">
    <tr>
        <th>
            Название книги
        </th>
        <th>
            Автор книги
        </th>
        <th>
            Издатель
        </th>
        <th>
            Дата печати
        </th>
        <th>
            Количество в библиотеке
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @if (id == 2) { Html.ActionLink("Изменить", "Edit", new { id = item.Id }); } |
            @Html.ActionLink("Описание", "Details", new { id = item.Id }) |
            @Html.ActionLink("Встать в очередь", "Add", "Queue", new { id = item.Id }, null) |
            @if (id == 2){Html.ActionLink("Выдать книгу", "Index", "Received", new { id = item.Id }, null);} | 
            @if (id == 2){ Html.ActionLink("Удалить", "Delete", new { id = item.Id }); }
        </td>
    </tr>
}

</table>
